html,body{
	margin: 5px;
	font-family: 'Open sand', sans-serif;	
}
.be-red{
	background-color: rgb(200,50,0)
}
.white{
	color: white;	
}
.large-padding{
	padding: 10px 5px;
}

.h1{
	
	font-size: 13px

}
